%header.masthead
  %p.branding
    %a{ href: '/' }
      Dotwave

  %h1.title= title

  - if show_cta
    %p.cta
      %a{ href: '/auth/spotify' }
        Sign in with&nbsp;Spotify

  - if show_what
    %p.what
      %a{ href: '/about' }
        What <em>is</em> this though?
