- @exclude_settings = true

%h1.title Page not found

.ill-tell-you-what
  %p
    This is probably my bad, but I just have no idea where you were trying to
    go. Were you looking for a profile? I got rid of those in favor of just new
    releases for everybody. Hope you don’t mind.

  %p
    If this seems like a goof, or you just want to talk, let’s talk! I’m
    <a class="inline" href="https://twitter.com/johnholdun">@johnholdun</a>,
    in case you missed that before.
