html {
  box-sizing: border-box;
  font: 30px/35px "Work Sans";
  font-weight: 300;
}

* {
  box-sizing: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #fff;
  color: #333;
  margin: 0 auto 1rem;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a.inline,
button.inline-link {
  display: inline;
  background: none;
  border: 0;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

label {
  color: #777;
  font-size: .5rem;
  line-height: .5rem;
}

select {
  font: inherit;
  width: 100%;
  min-width: 0;
  background: none;
  display: inline-block;
  -webkit-appearance: none;
  border: 0;
  border-bottom: 1px solid currentColor;
  border-radius: 0;
  cursor: pointer;
}

.baby {
  width: 320px;
  margin: 0 auto 2rem;
}

.baby p {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.input-wrapper {
  margin-bottom: 2rem;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px solid currentColor;
  text-transform: uppercase;
  font-size: .5rem;
  letter-spacing: .05rem;
  padding: .125rem .5rem;
  border-radius: .25rem;
}

em {
  font-style: italic;
}

a.inline:hover {
  color: #999;
}

.inner {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 .5rem;
}

header {
  /* http://colorzilla.com/gradient-editor/#3dd6f4+0,aef9e7+51,f4a8ff+100 */
  background: linear-gradient(150deg, rgb(61, 214, 244) 0%, rgb(174, 249, 231) 51%, rgb(244, 168, 255) 100%);
  padding: 1rem 0;
  margin: 0 0 1rem;
}

.branding {
  text-align: center;
  font-size: .8rem;
  color: #fff;
  letter-spacing: 10px;
  line-height: .5rem;
  text-transform: uppercase;
}

.branding a,
.branding a:hover {
  color: inherit;
  border: none;
}

.status {
  text-align: center;
  background: #eee;
  padding: 0.5rem 0;
  margin: -1rem 0 1rem;
  font-size: .6rem;
  line-height: 1rem;
}

.title {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.load-more {
  display: block;
  width: auto;
  margin: 2rem auto;
  background: none;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.5rem;
  font-size: .6rem;
  list-style: none;
  cursor: pointer;
  border: 1px solid currentColor;
  border-radius: .1rem;
}

.albums {
  padding: 0 .5rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
}

.album {
  position: relative;
  max-width: 300px;
  flex: 0 0 300px;
  padding: 0 .5rem;
  margin-bottom: 1rem;
}

.album-link {
  display: block;
  margin: 0 -1rem;
  padding: 0 1rem 1rem;
}

.album-image {
  margin-bottom: .5rem;
}

.album-image img {
  display: block;
  width: 640px;
  max-width: 100%;
  height: auto;
}

.album-artist,
.album-title {
  font-size: .75rem;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.album-artist {
  color: #000;
}

.album-title {
  color: #777;
}

.album-type {
  color: #999;
  font-size: .5rem;
  letter-spacing: 2px;
  line-height: 1rem;
  margin: 0;
  text-transform: uppercase;
}

footer {
  border-top: 1px solid currentColor;
  color: #101f01;
  font-size: .8rem;
  line-height: 1rem;
  margin: 0 auto;
  padding: 1rem 0;
}

footer a {
  color: inherit;
  border-bottom: 1px solid currentColor;
}
