html {
  box-sizing: border-box;
  font: 30px/35px "Work Sans";
  font-weight: 300;
}

* {
  box-sizing: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #3e7206;
  color: #ded;
  margin: 1rem auto;
  width: 100%;
}

a {
  color: #71ce0d;
  text-decoration: none;
}

em {
  font-style: italic;
}

a:hover {
  color: #29ec5a;
}

.masthead {
  width: 100%;
}

.masthead-inner {
  margin: 0 auto;
  max-width: 30rem;
  padding: 0 .5rem;
  width: 100%;
}

.branding {
  font-size: .8rem;
  letter-spacing: 2px;
  line-height: .5rem;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

.title {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.cta a {
  background: #71ce0d;
  color: #3e7206;
  display: block;
  font-size: .8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding: 0 .5rem;
  text-align: center;
}

.what a {
  background: #ded;
  color: #3e7206;
  display: block;
  font-size: .8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding: 0 .5rem;
  text-align: center;
}

.main {
  margin: 0 auto;
  max-width: 30rem;
  padding: 0 .5rem;
}

.album {
  font-size: 1rem;
  margin: .5rem 0;
  max-width: 30rem;
}

.album-link {
  color: inherit;
  display: block;
  margin: 0 -1rem;
  padding: .5rem 1rem;
}

.album-link:hover,
.album-link:active {
  color: inherit;
}

.album-artist {
  display: inline;
  font-weight: 500;
  margin-right: .2rem;
}

.album-name {
  display: inline;
}

.album-type {
  color: #71ce0d;
  font-size: .8rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin: 0;
  text-transform: uppercase;
}

.ill-tell-you-what {
  margin-bottom: 2rem;
}

.ill-tell-you-what p {
  font-size: .8rem;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid currentColor;
  color: #101f01;
  font-size: .8rem;
  line-height: 1.5rem;
  margin: 0 auto;
  max-width: 30rem;
  padding: 2rem 0;
}
